@import "../../App.scss";
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

//ui bottom
.navbar-bottom {
  position: fixed;
  bottom: 0;
  /*   left: 0;
  right: 0; */
  display: flex;
  flex-direction: row;
  margin: 2px;
}
.navbar-top {
  position: fixed;
  top: 0;
  /* left: 0;
  right: 0; */
  display: flex;
  flex-direction: row;
  margin: 2px;
}
.navtab-top {
  background-color: black;
  border-radius: 5px;
  margin: 1px;
}
.navtab-bottom {
  background-color: black;
  border-radius: 5px;
}
.navicon-top {
  min-width: 7vh;
  min-height: 7vh;
}
.navicon-bottom {
  width: calc(100vw / 6.5);
  min-height: 7.2vh;
}
//ui top
.navtablong {
  width: calc(100vw / 3.1 - 1.1vh);
  /*  min-width: 12vh; */
  min-height: 5vh;
}
.viewicon {
  width: calc(100vw / 3.1 - 1vh);
  /* min-width: 5vh; */
  height: 5vh;
}

.gemview {
  /*   width: 5vh;
  height: 5vh; */
  background-color: red;
  border-radius: 5px;
}
.goldview {
  /*   width: 5vh;
  height: 5vh; */
  background-color: gold;
  border-radius: 5px;
}
